/* Write your CSS here */
* {
  margin: 0;
  padding: 0;
}
.bg-container {
  /* height: 100vh; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #fff1eb, #ace0f9);
  padding-bottom: 20px;
}

.inner-container {
  width: 50%;
}

.main-heading {
  text-align: center;
  font-family: Bree Serif;
  color: #1e293b;
  font-size: 50px;
}

.search-box-container {
  display: flex;
  justify-content: center;
}

.search-box {
  border: 1px solid #7b8794;
  border-radius: 5px;
  padding: 15px;
  width: 300px;
  height: 45px;
  background-color: transparent;
  font-size: 20px;
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: 98%;
  margin-bottom: 20px;
}

.outer-tab-container {
  display: flex;
  justify-content: center;
}

.tab-container {
  display: flex;
  justify-content: space-around;
  width: 420px;
}

.line {
  border: none;
  height: 2px;
  background-color: #dfe2e5;
}

.app-container {
  display: flex;
  flex-wrap: wrap;
  width: 60vw;
  margin-top: 30px;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  overflow-y: auto;
  text-align: center;
}
