/* Write your CSS here */
.app {
  margin: 15px;
  list-style: none;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 15px;
}

.app-image {
  width: 100px;
  border-radius: 15px;
}

.app-name {
  display: flex;
  justify-content: center;
}
